# Test Notebook

This is to test scrap code  
To see whether it works and not dirty other notebooks

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('Dec20_data/Interfraction/Interfraction 3D 0.8/Z_CER01_base=Wk2 MR3D_vs_Wk3 MR3D_SUPINF.csv')

In [10]:
df

            roi      exam   S.z   I.z
0       Bladder  Wk2 MR3D  0.00  0.00
1       Bladder  Wk3 MR3D -3.60 -0.40
2        Rectum  Wk2 MR3D  0.00  0.00
3        Rectum  Wk3 MR3D -2.24  0.24
4         GTV_T  Wk2 MR3D  0.00  0.00
5         GTV_T  Wk3 MR3D -1.60  0.16
6      CTV_Clin  Wk2 MR3D  0.00  0.00
7      CTV_Clin  Wk3 MR3D -2.16  0.40
8  CTV_SmallVol  Wk2 MR3D  0.00  0.00
9  CTV_SmallVol  Wk3 MR3D -1.60  0.40

In [11]:
df_base = df_base[df_base['S.z'].eq(0)]

NameError: name 'df_base' is not defined

In [64]:
comparison_scan = df[(df != 0).all(1)]

In [65]:
comparison_scan

            roi      exam   S.z   I.z
1       Bladder  Wk3 MR3D -3.60 -0.40
3        Rectum  Wk3 MR3D -2.24  0.24
5         GTV_T  Wk3 MR3D -1.60  0.16
7      CTV_Clin  Wk3 MR3D -2.16  0.40
9  CTV_SmallVol  Wk3 MR3D -1.60  0.40

In [67]:
df_idx = comparison_scan.index[comparison_scan['roi'] == "Bladder"].tolist()

In [20]:
roi = "Bladder"

In [56]:
df_base = df[df['roi'].str.match(roi)]

In [57]:
df_base

       roi      exam  S.z  I.z
0  Bladder  Wk2 MR3D  0.0  0.0
1  Bladder  Wk3 MR3D -3.6 -0.4

In [60]:
df_base = df_base[df_base['R.x'].eq(0)] if ('R.x' in df_base) else df_base[df_base['S.z'].eq(0)]

In [61]:
df_base

       roi      exam  S.z  I.z
0  Bladder  Wk2 MR3D  0.0  0.0

In [63]:
df_base['I.z'].mean()

0.0

In [68]:
comparison_wk_roi_df = comparison_scan.loc[df_idx]

In [69]:
comparison_wk_roi_df

       roi      exam  S.z  I.z
1  Bladder  Wk3 MR3D -3.6 -0.4

In [70]:
comparison_wk_roi_df['I.z'].mean()

-0.39999998532799996

In [24]:
test_df = pd.read_csv('Dec20_data/Intrafraction 3D vs DIXON HR IP 2.0/Z_CER06_base=Wk3 MR3D DIXON HR IP_vs_Wk3 MR3D.csv')

In [25]:
test_df

,roi,exam,z-RefZ,R.x,L.x,P.y,A.y
0,Bladder,Wk3 MR3D DIXON HR IP,-10.20,0.000000,0.000000,0.000000,0.000000
1,Bladder,Wk3 MR3D DIXON HR IP,-10.00,0.000000,0.000000,0.000000,0.000000
2,Bladder,Wk3 MR3D DIXON HR IP,-9.80,0.000000,0.000000,0.000000,0.000000
3,Bladder,Wk3 MR3D DIXON HR IP,-9.60,0.000000,0.000000,0.000000,0.000000
4,Bladder,Wk3 MR3D DIXON HR IP,-9.40,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
307,CTV_SmallVol,Wk3 MR3D,-4.32,0.046432,0.652494,0.658462,0.164389
308,CTV_SmallVol,Wk3 MR3D,-4.12,-0.067274,1.244787,0.768098,0.111530
309,CTV_SmallVol,Wk3 MR3D,-3.92,0.037486,0.899890,1.011065,0.034223
310,CTV_SmallVol,Wk3 MR3D,-3.72,-0.140496,1.000819,1.173657,0.019926
311,CTV_SmallVol,Wk3 MR3D,-3.52,0.055530,0.864255,1.483699,0.756437

In [26]:
# get higher week for comparison week

# pull out exams from df
print(test_df.exam.unique())

# use regex to get Wk#
import re


print(re.search(r'(Wk.)', test_df.exam.unique()[0]).group(0))
print(re.search(r'(Wk.)', test_df.exam.unique()[-1]).group(0))
print(max(re.search(r'(Wk.)', test_df.exam.unique()[0]).group(0), re.search(r'(Wk.)', test_df.exam.unique()[-1]).group(0)))

['Wk3 MR3D DIXON HR IP' 'Wk3 MR3D']
Wk3
Wk3
Wk3

In [27]:
# case where week 4 same , ie intrafraction
maxval = max(re.search(r'(Wk.)', test_df.exam.unique()[0]).group(0), re.search(r'(Wk.)', test_df.exam.unique()[-1]).group(0))

if maxval == re.search(r'(Wk.)', test_df.exam.unique()[0]).group(0):
    maxval = test_df.exam.unique()[-1]

In [28]:
maxval

'Wk3 MR3D'

In [33]:
set_df = test_df.loc[test_df['exam'] == maxval]

In [34]:
set_df

              roi      exam  z-RefZ       R.x       L.x       P.y       A.y
16        Bladder  Wk3 MR3D  -10.08 -0.273663 -0.356162 -0.631017 -0.240412
17        Bladder  Wk3 MR3D   -9.88  0.060339 -0.137732 -0.442560 -0.292564
18        Bladder  Wk3 MR3D   -9.68  1.295917 -0.013937 -0.352510 -0.249715
19        Bladder  Wk3 MR3D   -9.48  1.110618 -0.156603 -0.321679 -0.912450
20        Bladder  Wk3 MR3D   -9.28  1.447464 -0.618436 -0.706797 -0.880979
..            ...       ...     ...       ...       ...       ...       ...
307  CTV_SmallVol  Wk3 MR3D   -4.32  0.046432  0.652494  0.658462  0.164389
308  CTV_SmallVol  Wk3 MR3D   -4.12 -0.067274  1.244787  0.768098  0.111530
309  CTV_SmallVol  Wk3 MR3D   -3.92  0.037486  0.899890  1.011065  0.034223
310  CTV_SmallVol  Wk3 MR3D   -3.72 -0.140496  1.000819  1.173657  0.019926
311  CTV_SmallVol  Wk3 MR3D   -3.52  0.055530  0.864255  1.483699  0.756437

[156 rows x 7 columns]

In [7]:
set_df[set_df['roi'].str.contains("GTV_T")]

     roi                  exam           S.z  I.z
5  GTV_T  Wk3 MR3D DIXON HR IP -1.065814e-14  0.0

In [80]:
comparison_scan = test_df[("Wk3" in test_df['exam'])

# get indices for region of interest
roi = "GTV_T"
df_idx = comparison_scan.index[comparison_scan['roi'] == roi].tolist()

In [81]:
roi_df = comparison_scan.loc[df_idx]

In [82]:
roi_df.head()

Empty DataFrame
Columns: [roi, exam, S.z, I.z]
Index: []

In [38]:
mean = roi_df.mean(axis = 0)[3]

In [40]:
roi_df.mean(axis = 0)[3]

1.8410196076500929

In [41]:
roi_df.mean(axis = 0)[1]

-0.17714483291117455

In [50]:
roi_df['R.x'].std()

0.2650570434635796

In [49]:
roi_df.mean(axis = 0)

z-RefZ   -7.100000
R.x      -0.177145
L.x       0.356669
P.y       1.841020
A.y      -0.261552
dtype: float64